[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
pandas = "*"
ipykernel = "*"
jupyter = "*"
datetime = "*"
geopy = "*"
auto_learning = {git = "https://github.com/physics-machinelearning/FindGoodModel2.git",ref = "main"}
scikit-learn = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
