flake8
django
requests
beautifulsoup4
sqlalchemy
python-dotenv
psycopg2
pandas
ipykernel
jupyter
datetime
geopy
-e git://github.com/physics-machinelearning/FindGoodModel2.git#egg="main"
scikit-learn
gunicorn